{{define "sidebarItems"}}
<ul class="list-group">
	{{range .WorkOrderItems}}
		<li class="list-group-item fakebutton" id="wo-{{.ID}}" onclick="loadWO({{.ID}})">{{.Name}}</li>
	{{end}}
</ul>
{{end}}

{{define "app"}}
<!DOCTYPE html>
<html>
<head>
	<title>Squishy</title>

<link 
  rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
  crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script 
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
  crossorigin="anonymous"></script>



<link rel="stylesheet" href="/resources/css/bootstrap-dark.css">

<style>
.fakebutton {cursor: pointer;}
#navbar {position: absolute; top:0px; left:0px; right:0px; height:60px; padding:10px;}
#sidebar {position: absolute; top:60px; bottom: 0px; left:0px; width:250px;}
#content {position: absolute; top:60px; left:250px; right:0px; bottom: 0px;}
</style>

<script src="../resources/js/app.js"></script>
</head>
<body>


	<nav id='navbar' class="nav">
	<a class="navbar-brand">Squishy</a>

	<a class="nav-link active" href="#">Orders</a>
	<a class="nav-link" href="#">Management</a>
	<a class="nav-link disabled">Username</a>
	</nav>


	<div id='sidebar'>
		<!-- Work Order list on sidebar -->
		{{template "sidebarItems" .WorkOrders}}
	</div>
	 
	<div id='content'>
		<!-- Work Order data form --> 
		<div class='container' id='orderConsumption'>
			<div class='row'>
				<div class='col'>
					<button class="btn btn-primary">+ Work Order</button> <button class="btn btn-success">Submit Work Order</button>
					<div class='form-group'>
						<label for='woID'>Work Order ID</label>
						<input type='text' disabled="disabled" name='name' class="form-control" id='woID'>
					</div>
					<div class='form-group'>
						<label for='woCustomerName'>Customer Name</label>
						<input type='text' name='name' class="form-control" id='woCustomerName'>
					</div>
					<div class='form-group'>
						<label for='woName'>Work Order Name</label>
						<input type='text' name='name' class="form-control" id='woName'>
					</div>
					<div class='form-group'>
						<label for='woSummary'>Work Order Summary</label>
						<input type='text' name='name' class="form-control" id='woSummary'>
					</div>
					<div class='form-group'>
						<label for='woDetails'>Work Order Details</label>
						<textarea type='text' name='name' class="form-control" id='woDetails'></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
{{end}}